@charset "URF-8";

@font-face {
    font-family: Est;
    src: url(Faster\ Stroker.otf);
}



div > .Imagem2{
    display: none;
}




div:hover>.Imagem1{
    display: none;
}

div:hover>.Imagem2{
    display: block;
}

div#imagens>.Imagem2{
    margin-left: auto;
    margin-right: auto;
}

div>.east{
    display: none;
}

div:hover>#Principal{
    display: none;
}

div:hover>.east{
    display: block;
    text-decoration: none;
}

.east:active{
    color: aliceblue;
    background-color: gray;
    
}


#Principal{
    text-align: justify;
    text-align: center;
    color: #1b3842;
    font-family: Est;
    text-shadow: 6px 3px 15px #21123f;
    height: 30px;
    width: 400px;
    margin: auto;
}

a:visited{
    color: #1b3842;
}

div>.east{
    text-align: justify;
    text-align: center;
    color: #1b3842;
    font-family: Est;
    text-shadow: 6px 3px 15px #21123f;
    height: 30px;
    width: 400px;
    margin: auto;
}


h1 {
    color: #2b0000;
}



h2 {
    color: #1b3842;
}

 p{
    color: #0d2027;
    font-size: 0.98em;
 }

 a{
    color: #21123f;
    text-decoration: none;
 }

 

 a:hover{
    color: #5c0000;
    text-decoration: underline;
    
 }



 body{ 
    background-color: #2b0000;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    

 }
 main{
    background-color: rgb(221, 221, 255);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: -20px;
    width: 750px;
 }


