@charset "UTF-8";

body{
    padding: 0px;
    margin: 0px;
}

header{
    min-height: 150px;
    background-color: black;
    text-align: center;
    margin: 0px;
    padding: 30px;
}

header>h1{
    color: white;
    margin-top: 1px;
    margin-bottom: 3px;
    font-size: 90px;
}

header>p{
    color: white;
    margin-top: 0px;
    font-size: 20px;
}

section{
    margin-bottom: 20px;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.151);
    
}

section.imagem1{
    background-image: url(https://img.freepik.com/fotos-premium/lindo-fundo-de-arranjo-de-flores-gerbera-papel-de-parede-de-buque-de-flores-de-primavera-diferentes_664601-1734.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

section.imagem2{
    background-image: url(https://img.freepik.com/fotos-gratis/a-beleza-da-natureza-capturada-em-flores-coloridas-fecha-a-ia-generativa_188544-8593.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}
section>article>p{
    background-color: rgba(0, 0, 0, 0.26);
    color: white;
}

article{
    max-width: 800px;
    
}

article#solid{
    background-color: white;
    padding: 30px;
}

article>p{
    max-width: 650px;
    margin: 0px;
    margin-top: 80px;
    padding: 20px;
    font-size: 60px;
    line-height: 100px;
}

footer{
    background-color: black;
    text-align: center;
    margin: 0px;
    height: 30px;
    padding: 15px;
}

footer>p{
    margin: 0px;
    color: white;
    font-size: 30px;
}

a{
    color: white;
    text-decoration: none;
}

a:active{
    text-decoration: underline;
}


