@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, #c9a0a8, #a0767e);
    
    p { text-align: justify;
        color: #5C0013;
    }

    main { background-color: white;
        width: 600px;
        padding: 20px;
        box-shadow:5px 6px 10px #38141B44;
        margin: auto;
        border-radius: 10px;
        
    }

    h1 { color: #38141B;
        text-align: center;
        text-shadow: 1px 2px 3px #38141B41;
        box-shadow:5px 6px 10px #38141B32;
        background-color: #8a5e6632;
        border-radius: 5px;
    }

    h2{ color: #5C0013;
    }


}


